.content {
  padding-top: 80px;
}

.heading {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
